<div class="container">
    <button mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon aria-label="Add new task">add</mat-icon>
        Add
    </button>
    <br/><br/>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- Checkbox Column -->
        <ng-container matColumnDef="isDone">
            <th mat-header-cell *matHeaderCellDef>Resolved</th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox (change)="onTaskChanged()" [(ngModel)]="element.isDone">
                </mat-checkbox>
            </td>
        </ng-container>
    
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
    
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    
    </table>
</div>
